<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>智水地图</title>
		<!-- css 核心层叠样式表 -->
		<link href="./lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--		<link rel="stylesheet" href="./lib/codemirror/lib/codemirror.css">-->
		<link rel="stylesheet" href="./lib/codemirror/codemirror.css">
		<link rel="stylesheet" href="./lib/codemirror/simplescrollbars.css">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/interfaceDetail.css">
		<!-- <link rel="stylesheet" href="css/case.css"> -->
		<!-- 接口 -->
		<script src="port/config_InterfaceDetails.js"></script>
		<script src="lib/artTemplate/dist/template.js"></script>
	</head>

	<body>
		<!-- navbar -->
		<nav class="navbar zs_navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
   					</button>
					<a class="navbar-brand zs_logo" href="index.html">
						<img src="images/page/logo.png" alt="">
						<span>智水地图</span>
					</a>
				</div>
				<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="guid.html">开发指南</a>
						</li>
						<li>
							<a href="case.html">应用案例</a>
						</li>
						<li class="active">
							<a href="interfaceDetail.html">接口详情</a>
						</li>
						<li>
							<a href="resource.html">地图资源</a>
						</li>
						<li class="downloadLi">
							<a href="download.html">相关下载</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- content -->
		<div class="zs_content">
			<div class="zs_info">√ 复制成功,可粘贴!</div>
			<div class="row" style="margin-left: 0;margin-right: 0;">
				<div class="col-xs-2 tree " style="position: relative; padding-left: 0;padding-right: 0;">
					<div class="col-md-12  zs_treescroll" style="height: auto; position: absolute;top: 0;left: 0; padding-left: 0;padding-right: 0;">
						<ul id="tree" class="pt-10">
						</ul>
					</div>
				</div>
				<div id="interfaceIndex" class="col-xs-10 contenview index_contenview" style="display: block;">
					<div class="index_content">
						<table border="1" cellpadding="5" cellspacing="0" class="mytable">
							<thead>
								<tr>
									<th width="20%">类型</th>
									<th width="20%">接口</th>
									<th width="60%">描述</th>
								</tr>
							</thead>
							<tbody id="interfaceIndexTB"></tbody>
						</table>
					</div>
				</div>
				<div id="interfaceDetail" class="col-xs-10 contenview" style="display: none;">
					<div class="row " style="margin-left: 0;margin-right: 0; ">
						<div class="row" style="margin-left: 0;margin-right: 0;">
							<div class="col-md-12 ">
								<ul id="tabchange">
									<li id="Explain" class="now" style="margin-left: 0;margin-right: 20px;">
										<a href="#">接口说明</a>
									</li>
									<li id="Example">
										<a href="#">调用示例</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row pt-10 contvie" style="margin-left: 0;margin-right: 0; ">
							<div class="tabcontent contenta" id="contenta">
								<div class="row  contentzhan" style="margin-left: 0;margin-right: 0; position: absolute; top: 0; left: 0; width: 100%;;"></div>
							</div>
							<div class="tabcontent" id="contentb" style="display: none;">
								<div class="row">
									<div class="col-xs-6  codearea">
										<div id="code_area" unselectable="on">
											<div id="openbar" unselectable="on">
												<div id="d_menu">
													<div id="d_refresh_container">
														<a id="d_refresh_button" href="javascript:void(0);" class="refresh" style="z-index: 1000;">重置</a>
													</div>
													<div id="d_run_container">
														<a id="d_run_button" href="javascript:void(0);" class="run" onClick="run();">运行</a>
													</div>
													<div id="d_clip_container">
														<a id="d_clip_button" href="javascript:void(0);" class="copy">复制</a>
													</div>
												</div>
												<p>源代码编辑器</p>
											</div>
											<textarea id="coderesource" class="clearfix myresource aa" class="mysode ">
											</textarea>
											<div id="code_close" onClick="toggleFooter();"></div>
										</div>
									</div>
									<div class="col-xs-6 map">
										<iframe style=" width: 100%;" src="rmap.html" frameborder="0" scrolling="no" id="ifrCode">
                 						</iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script type="text/html" id="treeTpl">
			<li id="index_li_id" class="pt-5 pb-5 hov nowact">
				<a href="#" style="font-weight: 700;  padding-left:30px; font-size: 16px;">接口索引</a>
			</li>	
			{{each data as value i}}
			<li class="pt-5 pb-5">
				<a href="#" style="font-weight: 700;  padding-left:30px; font-size: 16px;">{{value.label}}</a> {{if value.isHaveChildren}}
				<ul>
					{{each value.children as item index}}
					<li class="hov">
						<a href="#" id="tree_{{item.label}}" data-name="{{value.name}}" data-child="{{item.name}}" data-label="{{item.label}}" style="font-weight: normal; font-size: 14px;  padding-left:50px; ">{{item.label}}</a>
					</li>
					{{/each}}
				</ul>
				{{/if}}
			</li>
			{{/each}}
		</script>
		<script type="text/html" id="indexTpl">
			{{each data as value i}}
			<tr style="height: 30px; line-height: 30px;">
				<td class="indexLinkGroup" rowspan="{{value.children.length}}">{{value.label}}</td>
				{{if value.isHaveChildren}} 
				{{each value.children as item index}} 
				{{if index == 0}}
				<td class="indexLink">
					<a href="#" data-name="{{value.name}}" data-child="{{item.name}}" data-label="{{item.label}}">{{item.label}}</a>
				</td>
				<td class="indexLink">
					<a href="#" data-name="{{value.name}}" data-child="{{item.name}}" data-label="{{item.label}}">{{item.describe}}</a>
				</td>
			</tr>
				{{else}}
			<tr style="height: 30px; line-height: 30px;">
				<td class="indexLink">
					<a href="#{{item.label}}" data-name="{{value.name}}" data-child="{{item.name}}" data-label="{{item.label}}">{{item.label}}</a>
				</td>
				<td class="indexLink">
					<a href="#{{item.label}}" data-name="{{value.name}}" data-child="{{item.name}}" data-label="{{item.label}}">{{item.describe}}</a>
				</td>
			</tr>
				{{/if}} {{/each}} {{/if}} {{/each}}
		</script>
		<!-- js加载文件 -->
		<script src="./lib/jquery/jquery.js"></script>
		<script src="./lib/bootstrap/js/bootstrap.js"></script>
		<script src="./lib/nicescroll/dist/jquery.nicescroll.js"></script>
		<!--<script src="./lib/codemirror/lib/codemirror.js"></script>
		<script src="./lib/codemirror/mode/javascript/javascript.js"></script>-->
		<script src="./lib/codemirror/codemirror.js"></script>
		<script src="./lib/codemirror/simplescrollbars.js"></script>
		<script src="./lib/codemirror/xml.js"></script>
		<script src="./lib/codemirror/javascript.js"></script>
		<script src="./lib/codemirror/css.js"></script>
		<script src="./lib/codemirror/vbscript.js"></script>
		<script src="./lib/codemirror/htmlmixed.js"></script>
		<script src="js/common.js"></script>
		<script src="js/interfaceDetail.js"></script>
		<script>
			$(document).ready(
				function() {
					setNiceScroll("tree", "zs_treescroll");
				}
			);
		</script>
	</body>
	<textarea id="coderesource111" style="position: fixed; "></textarea>
</html>
