/* nav */


/* 版心 */

.zs_nav .zs_logo {
  display: block;
  padding: 0 15px;
  line-height: 50px;
}

.zs_nav .zs_logo img {
  width: 40px;
  float: left;
  padding: 5px 0;
}

.zs_nav .zs_logo span {
  color: #fff;
  float: left;
  margin-left: 10px;
}

.zs_nav {
  background-color: transparent;
  border: none;
  z-index: 999;
  display: block;
  height: 50px;
  line-height: 40px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.zs_nav . .zs_nav .navbar-brand {
  color: #777;
}

.zs_nav .navbar-brand:hover,
.zs_nav .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.zs_nav .navbar-text {
  color: #777;
}

.zs_nav .navbar-nav > li > a {
  color: #fff;
  padding-left: 23px;
  padding-right: 23px;
  margin-left: 13px;
}

.zs_nav .navbar-nav > li > a:hover,
.zs_nav .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #313546;
  border-radius: 4px;
}

.zs_nav .navbar-nav > .active > a,
.zs_nav .navbar-nav > .active > a:hover,
.zs_nav .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #313546;
  border-radius: 4px;
}

.zs_nav .navbar-nav > .disabled > a,
.zs_nav .navbar-nav > .disabled > a:hover,
.zs_nav .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent;
}

.zs_nav .navbar-toggle {
  border-color: #ddd;
}

.zs_nav .navbar-toggle:hover,
.zs_nav .navbar-toggle:focus {
  background-color: #ddd;
}

.zs_nav .navbar-toggle .icon-bar {
  background-color: #888;
}

.zs_nav .navbar-collapse,
.zs_nav .navbar-form {
  border-color: #e7e7e7;
}

.zs_nav .navbar-nav > .open > a,
.zs_nav .navbar-nav > .open > a:hover,
.zs_nav .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  .zs_nav .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .zs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
  .zs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .zs_nav .navbar-nav .open .dropdown-menu > .active > a,
  .zs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .zs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .zs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
  .zs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .zs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

.zs_nav .navbar-link {
  color: #777;
}

.zs_nav .navbar-link:hover {
  color: #333;
}

.zs_nav .btn-link {
  color: #777;
}

.zs_nav .btn-link:hover,
.zs_nav .btn-link:focus {
  color: #333;
}

.zs_nav .btn-link[disabled]:hover,
fieldset[disabled] .zs_nav .btn-link:hover,
.zs_nav .btn-link[disabled]:focus,
fieldset[disabled] .zs_nav .btn-link:focus {
  color: #ccc;
}


/* banner */

.zs_banner {
  width: 100%;
  position: relative;
  top: 0px;
  left: 0;
}

.zs_banner .m_imgBox {
  display: block;
  width: 100%;
}

.zs_banner .m_imgBox img {
  width: 100%;
  display: block;
}


/*点 */

.zs_carousel_indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.zs_carousel_indicators li {
  display: inline-block;
  width: 32px;
  height: 6px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}

.zs_carousel_indicators .active {
  width: 32px;
  height: 6px;
  margin: 0px;
  background-color: #fff;
}


/* API */

.wrap {
  width: 1047px;
  margin: 0 auto;
}

.zs_api {
  width: 100%;
  height: 236px;
  // line-height: 236px;
  background-color: #fff;
  margin-top: 20px;
  background: #fff url(../images/page/API.png) no-repeat 100px center;
  background-size: 148px 146px;
  padding: 70px 0 0 300px;
}

.zs_api .link {
  font-size: 20px;
}



/* 地图拾取 */

.zs_pickup {
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin-top: 20px;
  padding-top: 10px;
}

.zs_pickup .topbar {
  padding: 0 15px;
  height: 50px;
}

.zs_pickup .topbar span {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  float: left;
}

.zs_pickup .topbar ul {
  float: right;
}

.zs_pickup .topbar li {
  float: left;
  margin-left: 10px;
}
.zs_pickup .topbar li input {
  height: 34px;
  border: 1px solid #ccc;
  padding-left:10px;
}
