<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flood.dao.DsDsemTeamstuffMapper">
  <resultMap id="BaseResultMap" type="com.flood.entity.DsDsemTeamstuff">
    <result column="OBJECTID" jdbcType="INTEGER" property="objectid" />
    <result column="PFSID" jdbcType="INTEGER" property="pfsid" />
    <result column="TEAMID" jdbcType="INTEGER" property="teamid" />
    <result column="STUFFCOUNT" jdbcType="DOUBLE" property="stuffcount" />
    <result column="STUFFUSEDCOUNT" jdbcType="DOUBLE" property="stuffusedcount" />
    <result column="REASON" jdbcType="NVARCHAR" property="reason" />
    <result column="DISTRIBUTETIME" jdbcType="TIMESTAMP" property="distributetime" />
    <result column="DISTRIBUTEPERSON" jdbcType="NVARCHAR" property="distributeperson" />
    <result column="USEDPERSON" jdbcType="NVARCHAR" property="usedperson" />
  </resultMap>
  <!-- findTeamStuffByStuffID -->
  <select id="findTeamStuffByStuffID" resultType="java.util.HashMap">
    select 
    	OBJECTID,PFSID,TEAMID,STUFFCOUNT,STUFFUSEDCOUNT,REASON,DISTRIBUTETIME,DISTRIBUTEPERSON,USEDPERSON
    from DS_DSEM_TEAMSTUFF
    where PFSID = #{PFSID,jdbcType=INTEGER}
  </select>
  <!-- getStuffByTeamID -->
  <select id="getStuffByTeamID" resultType="java.util.HashMap">
    select * from DS_DSEM_TEAMSTUFF left join DS_DSEM_PREFLOODSTUFF 
    on DS_DSEM_TEAMSTUFF.PFSID = DS_DSEM_PREFLOODSTUFF.PFSID where 
    TEAMID = #{teamID,jdbcType=INTEGER}
  </select>
  <!-- findCountByTeamId -->
  <select id="findCountByTeamId" resultType="java.util.HashMap">
    select teamStuff.PFSID,sum(STUFFCOUNT) as COUNT,sum(STUFFUSEDCOUNT) AS USECOUNT,prefloodstuff.PFSID,prefloodstuff.PFSNAME,prefloodstuff.UNIT
    from DS_DSEM_TEAMSTUFF as teamStuff
	left join DS_DSEM_PREFLOODSTUFF as prefloodstuff
	on teamStuff.PFSID = prefloodstuff.PFSID
	where teamStuff.TEAMID = #{teamID,jdbcType=INTEGER} 
	GROUP BY teamStuff.PFSID,prefloodstuff.PFSID,prefloodstuff.PFSNAME,prefloodstuff.UNIT
  </select>
  <!-- addTeamStuff -->
  <insert id="addTeamStuff" parameterType="java.lang.String">
    insert into DS_DSEM_TEAMSTUFF (OBJECTID, PFSID, TEAMID, 
      PFSID,TEAMID,STUFFCOUNT,STUFFUSEDCOUNT,REASON,DISTRIBUTETIME,DISTRIBUTEPERSON,USEDPERSON
      )
    values (#{pfsId,jdbcType=INTEGER}, #{teamId,jdbcType=INTEGER},
      #{stuffCount,jdbcType=DOUBLE}, #{stuffUsedCount,jdbcType=DOUBLE}, #{reason,jdbcType=NVARCHAR}, 
      #{distributetime,jdbcType=TIMESTAMP}, #{distributeperson,jdbcType=NVARCHAR}, #{usedPerson,jdbcType=NVARCHAR}
      )
  </insert> 
  <!-- deleteTeamStuff -->
  <delete id="deleteTeamStuff" parameterType="int">
        delete from DS_DSEM_TEAMSTUFF where OBJECTID = #{objID,jdbcType=INTEGER}
  </delete>  
  <insert id="insert" parameterType="com.flood.entity.DsDsemTeamstuff">
    insert into DS_DSEM_TEAMSTUFF (OBJECTID, PFSID, TEAMID, 
      STUFFCOUNT, STUFFUSEDCOUNT, REASON, 
      DISTRIBUTETIME, DISTRIBUTEPERSON, USEDPERSON
      )
    values (#{objectid,jdbcType=INTEGER}, #{pfsid,jdbcType=INTEGER}, #{teamid,jdbcType=INTEGER}, 
      #{stuffcount,jdbcType=DOUBLE}, #{stuffusedcount,jdbcType=DOUBLE}, #{reason,jdbcType=NVARCHAR}, 
      #{distributetime,jdbcType=TIMESTAMP}, #{distributeperson,jdbcType=NVARCHAR}, #{usedperson,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flood.entity.DsDsemTeamstuff">
    insert into DS_DSEM_TEAMSTUFF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectid != null">
        OBJECTID,
      </if>
      <if test="pfsid != null">
        PFSID,
      </if>
      <if test="teamid != null">
        TEAMID,
      </if>
      <if test="stuffcount != null">
        STUFFCOUNT,
      </if>
      <if test="stuffusedcount != null">
        STUFFUSEDCOUNT,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="distributetime != null">
        DISTRIBUTETIME,
      </if>
      <if test="distributeperson != null">
        DISTRIBUTEPERSON,
      </if>
      <if test="usedperson != null">
        USEDPERSON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectid != null">
        #{objectid,jdbcType=INTEGER},
      </if>
      <if test="pfsid != null">
        #{pfsid,jdbcType=INTEGER},
      </if>
      <if test="teamid != null">
        #{teamid,jdbcType=INTEGER},
      </if>
      <if test="stuffcount != null">
        #{stuffcount,jdbcType=DOUBLE},
      </if>
      <if test="stuffusedcount != null">
        #{stuffusedcount,jdbcType=DOUBLE},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=NVARCHAR},
      </if>
      <if test="distributetime != null">
        #{distributetime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributeperson != null">
        #{distributeperson,jdbcType=NVARCHAR},
      </if>
      <if test="usedperson != null">
        #{usedperson,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <!-- delTeamStuffByStuffID -->
  <delete id="delTeamStuffByStuffID" parameterType="java.lang.Integer">
    delete from DS_DSEM_TEAMSTUFF where PFSID = #{stuffID,jdbcType=INTEGER}
  </delete>    
</mapper>