body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-13px;
  width:984px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23979 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:33px;
  width:527px;
  height:315px;
  overflow:hidden;
}
#u23979_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:315px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23979_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:15px;
  height:16px;
}
#u23981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u23982 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:80px;
  height:25px;
}
#u23982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23983 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:3px;
  width:15px;
  height:16px;
}
#u23984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u23985 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:80px;
  height:25px;
}
#u23985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u23986 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:23px;
  height:23px;
}
#u23987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:280px;
}
#u23989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:521px;
  height:280px;
}
#u23990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:517px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23991 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:39px;
  width:48px;
  height:29px;
}
#u23991_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23991.mouseOver {
}
#u23992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:197px;
}
#u23993 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:391px;
  width:302px;
  height:197px;
}
#u23994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:302px;
}
#u23995 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:391px;
  width:302px;
  height:302px;
}
#u23996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:143px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:250px;
}
#u23997 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:391px;
  width:302px;
  height:250px;
}
#u23998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
