body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:432px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:765px;
}
#u8772_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:765px;
  overflow:hidden;
}
#u8773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:769px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:769px;
  opacity:0.4;
}
#u8774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:293px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8776 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:139px;
  width:327px;
  height:293px;
}
#u8777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8778 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:191px;
  width:301px;
  height:229px;
}
#u8779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u8780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8780 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:159px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:145px;
  width:27px;
  height:27px;
  font-size:20px;
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
