body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1020px;
  height:764px;
}
#u11166_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:764px;
  overflow:hidden;
}
#u11167_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:38px;
  height:65px;
}
#u11167 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:688px;
  width:28px;
  height:55px;
}
#u11168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11169_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:37px;
  height:34px;
}
#u11169 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:659px;
  width:27px;
  height:24px;
}
#u11170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11171_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:38px;
  height:34px;
}
#u11171 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:632px;
  width:28px;
  height:24px;
}
#u11172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11173 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:659px;
  width:28px;
  height:24px;
}
#u11173_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11173.mouseOver {
}
#u11174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11175 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:632px;
  width:28px;
  height:24px;
}
#u11175_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11175.mouseOver {
}
#u11176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11177 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:99px;
  width:653px;
  height:512px;
  overflow:hidden;
}
#u11177_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:512px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 0.258823529411765);
  background-image:none;
}
#u11177_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11179_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:35px;
}
#u11179 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:335px;
  width:19px;
  height:25px;
}
#u11180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11181_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:35px;
}
#u11181 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:441px;
  width:19px;
  height:25px;
}
#u11182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11183_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:35px;
}
#u11183 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:265px;
  width:19px;
  height:25px;
}
#u11184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11185_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:35px;
}
#u11185 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:214px;
  width:19px;
  height:25px;
}
#u11186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11187_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:35px;
}
#u11187 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:464px;
  width:19px;
  height:25px;
}
#u11188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11190 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:526px;
  width:275px;
  height:243px;
}
#u11191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11192 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:526px;
  width:275px;
  height:243px;
  overflow:hidden;
}
#u11192_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:243px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u11192_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u11193 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:10px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11195 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:73px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u11196 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u11195_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11197 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:102px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u11198 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u11197_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11199 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:131px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u11200 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u11199_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11201 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:160px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u11202 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u11201_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11203 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:44px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u11204 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u11203_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u11205 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:189px;
  width:1px;
  height:16px;
}
#u11206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u11207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u11207 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:5px;
  width:38px;
  height:39px;
  font-size:28px;
}
#u11208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u11209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11210 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:259px;
  height:44px;
}
#u11211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11212 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:26px;
  width:27px;
  height:22px;
}
#u11213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  word-wrap:break-word;
}
#u11214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:72px;
}
#u11214 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:1px;
  width:182px;
  height:72px;
}
#u11215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11216 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:205px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11216_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11216.mouseOver {
}
#u11217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u11218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:87px;
  background:inherit;
  background-color:rgba(0, 153, 204, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:28px;
  height:87px;
}
#u11220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:24px;
  word-wrap:break-word;
}
#u11221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:87px;
  background:inherit;
  background-color:rgba(0, 153, 204, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:28px;
  height:87px;
}
#u11222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:24px;
  word-wrap:break-word;
}
#u11223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:87px;
  background:inherit;
  background-color:rgba(0, 153, 204, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:28px;
  height:87px;
}
#u11224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  word-wrap:break-word;
}
#u11225 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:77px;
  width:239px;
  height:265px;
  overflow:hidden;
}
#u11225_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:265px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11225_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:236px;
  height:146px;
  opacity:0.8;
}
#u11228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11229 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:65px;
  width:153px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11229_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11229.mouseOver {
}
#u11230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u11231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11231 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:39px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11233 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:90px;
  width:181px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u11235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11235 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:115px;
  width:153px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u11237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:236px;
  height:123px;
  opacity:0.8;
}
#u11239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11240 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:178px;
  width:153px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11240_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11240.mouseOver {
}
#u11241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u11242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11242 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:152px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11244 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:203px;
  width:181px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u11246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11246 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:228px;
  width:209px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u11248 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:9px;
  width:117px;
  height:16px;
}
#u11249 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u11248_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:1024px;
  height:249px;
}
#u11250_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:249px;
  overflow:hidden;
}
