body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:432px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:768px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:768px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:46px;
  height:44px;
}
#u574_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u574.mouseOver {
}
#u575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:352px;
  width:396px;
  height:52px;
}
#u576_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576.mouseOver {
}
#u577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
