<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>供水管网漏损评估及分析系统</title>
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-treeview/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<style>
</style>

<body>
    <div class="container-fluid">
        <!-- header -->
        <div class="header col-xs-12">
            <h2>供水管网漏损评估及分析系统</h2>
        </div>
        <!-- main -->
        <div class="main col-xs-12">
            <!-- sidebar -->
            <div class="sidebar-container lsidebar-container">
                <div class="sidebar-list lsidebar-list">
                    <div class="tree">
                        <div class="title">
                            <h3>分区设备</h3>
                            <div class="line"></div>
                        </div>
                        <div class="content" id="tree">
                        </div>
                    </div>
                    <div class="tree-content">
                        <div class="title">
                            <h3>设备列表</h3>
                        </div>
                        <div class="content" id="deviceContent" style="overflow: auto;">
                            <div class="bjdevice">
                                <h4>边界设备列表</h4>
                                <ul id="treeContentBar" class="treeContentBar">
                                    <li><a href="#" class="active">流量计(6)</a></li>
                                    <li><a href="#">阀门(10)</a></li>
                                </ul>
                                <div class="bottom">
                                    <div class="treetabcontent" id="zs_tabMap">
                                        <ul>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                        </ul>
                                    </div>
                                    <div class="treetabcontent" id="tabcontentc" style="display: none;">
                                        <ul>
                                            <li><a href="#">
                                        <span>阀门1</span>
                                        <i class="fa fa-file-text-o"></i>
                                      </a></li>
                                            <li><a href="#">
                                        <span>阀门1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>阀门1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>阀门1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>阀门1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>阀门1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="nbdevice">
                                <h4>内部设备列表</h4>
                                <ul id="nbtreeContentBar" class="treeContentBar">
                                    <li><a href="#" class="active">压力计(6)</a></li>
                                    <li><a href="#">流量计(10)</a></li>
                                </ul>
                                <div class="bottom">
                                    <div class="nbtreetabcontent" id="zs_tabMap">
                                        <ul>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                            <li><a href="#">
                                        <span>压力计1</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                        </ul>
                                    </div>
                                    <div class="nbtreetabcontent" id="tabcontentc" style="display: none;">
                                        <ul>
                                            <li><a href="#">
                                        <span>流量计</span>
                                        <i class="fa fa-file-text-o"></i>
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计</span>
                                        <i class="fa fa-file-text-o"></i>
                                        
                                      </a></li>
                                            <li><a href="#">
                                        <span>流量计</span>
                                        <i class="fa fa-file-text-o"></i>
                                       
                                      </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="open">
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <ul class="sidebarIcon">
                        <li >
                            <a href="#" class="now">
                          <i class="fa fa-bar-chart"></i>
                          <div class="sidebar-name">
                            分区设备
                          </div>
                        </a>
                        </li>
                        <li>
                            <a href="#">
                          <i class="fa fa-shield"></i>
                          <div class="sidebar-name">
                            评估分析
                          </div>
                        </a>
                        </li>
                        <li>
                            <a href="#">
                          <i class="fa fa-bell-o"></i>
                          <div class="sidebar-name">
                            历史报警
                          </div>
                        </a>
                        </li>
                    </ul>
                </div>
                <!-- 面包屑路径导航 -->
                <div class="crumbs">
                    <ol class="breadcrumb">
                        <li>亚洲分区</li>
                        <li>中国分区</li>
                        <li>北京分区</li>
                        <li class="active">动物园分区</li>
                    </ol>
                </div>
            </div>
            <!-- map -->
            <div class="map-container" id="map">
            </div>
            <!-- 搜索框 -->
            <div class="search-container">
                <!-- 搜索状态 -->
                <div class="search-top">
                    <div class="search-content" show='none' style="display: none;">
                        <input type="text" placeholder="请输入分区 设备编号">
                        <i class="fa fa-close"></i>
                    </div>
                    <div class="search-icon">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <!-- 搜索结果 -->
                <div class="search-result">
                    <ul id="searchContentBar" class="searchContentBar">
                        <li><a href="#" class="active">流量计(6)</a></li>
                        <li><a href="#">阀门(10)</a></li>
                        <li><a href="#">阀门(10)</a></li>
                        <li><a href="#">阀门(10)</a></li>
                    </ul>
                    <div class="bottom" id="searchContentBootm">
                        <div class="searchtabcontent">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="searchtabcontent" style="display: none;">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                v v
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="searchtabcontent" style="display: none;">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="searchtabcontent" style="display: none;">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="resultContent">
                                            <span>北京分区</span>
                                            <span>动物园分区 >> 亚洲分区</span>
                                        </div>
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../lib/ZhiShuiMap/webapps/ZhiShuiMap/MapAPI/RMap/rmap.js"></script>
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap/bootstrap.min.js"></script>
    <script src="../lib/bootstrap-treeview/bootstrap-treeview.js"></script>
    <script src="../lib/jquery.nicescroll.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/utils.js"></script>
    <script>
    $(function() {
        resizeWindow();
        tabcount("#treeContentBar", 'active', '.treetabcontent')
        tabcount("#nbtreeContentBar", 'active', '.nbtreetabcontent')
        tabcount("#searchContentBar", 'active', '.searchtabcontent')


        $(window).on("resize", function() {
            resizeWindow();
        });

        function resizeWindow() {
            var winH = $(window).height() - 60;
            var height = $(window).height() - 140;
            $(".sidebar").css('height', winH + 'px');
            $(".map-container").css('height', winH + 'px');
            $(".main").css('height', winH + 'px');
            $(".search-container").css('height', winH + 'px');
            $(".search-result").css('height', height + 'px');
            $(".search-result").css('height', height + 'px');
            $("#searchContentBootm").css('height', (winH - 128) + 'px');
            $(".searchtabcontent").css('height', (winH - 128) + 'px');
            $("#tree").css('height', (winH - 67) + 'px');
            $(".treetabcontent").css('height', (winH - 244) / 2 + 'px');
            $(".nbtreetabcontent").css('height', (winH - 200) / 2 + 'px');


        }

        //初始化地图，默认地图为在线高德地图
        var rmap = new RMap.Map('map');
        //以116.390985, 39.906358（天安门广场）为中心点坐标，地图缩放到12级
        // rmap.centerZoom(116.390985, 39.906358, 12);
        var pointList = getpointList();

        //初始化时添加点位
        setTimeout(function() {
            addPointList();
        }, 100);

        //添加多点，自定义图片
        function addPointList() {
            var picUrl = "../images/jingg@1x.png"; //自定义图片地址
            var points = [];
            for (var i = 0; i < pointList.length; i++) {
                var sPoint = pointList[i];
                points.push([sPoint.lng, sPoint.lat]);
                rmap.addPoint(sPoint.lng, sPoint.lat, {
                    id: sPoint.id, //定义id，移除指定点位时使用，不能重复
                    pic: picUrl,
                    anchor: [12, 24], //图标偏移，默认不传，偏移量为图标宽、高的一半（像素值），[x,y]:x大，往左偏移；y大，往上偏移
                    data: sPoint.data,
                    onClick: onPointClick
                });
            }
            rmap.extentByData(points); //地图缩放居中到该组点
        };
        //点位鼠标点击回调方法
        function onPointClick(e) {
            var str = '<div class="alert-box">' +
                '<ul>' +
                '<li>' +
                '<p><span>186526</span>m2/h</p>' +
                '<p>总净流入量</p>' +
                '</li>' +
                '<li>' +
                '<ul>' +
                '<li class="top">' +
                '<span>动物园分区</span>' +
                '<span>10分钟前</span>' +
                '</li>' +
                '<li class="bottom">' +
                '<a href="#">下级分区</a>' +
                '</li>' +
                '</ul>' +
                '</li>' +
                '</ul>' +
                '</div>'
            rmap.showPopWindow(e.lng, e.lat, str, {
                isHighLight: true,
                autoPan: true //显示气泡时是否确保当前气泡在地图范围，默认为true
            });
        }
        //移除所有点
        function removeAllPoint() {
            rmap.removePoint();
            rmap.hidePopWindow();
        };
        //获取100个随机点位数据
        function getpointList() {
            var pointList = [];
            for (var i = 0; i < 5; i++) {
                var x = 116.380726 + (0.02 * Math.random());
                var y = 39.906430 + (0.02 * Math.random());
                pointList.push({
                    lng: x,
                    lat: y,
                    id: i,
                    data: {
                        code: "TESTPOINT_" + i
                    }
                });
            }
            return pointList;
        };

        //tab

        function tabcount(eleid, activeclass, subareatabcontent) {
            $(eleid + ' li').click(function() {
                var index = $(this).index();
                $(this).find('a').addClass(activeclass);
                $(this).siblings('li').find("a").removeClass(activeclass)
                $(subareatabcontent).eq(index).show().siblings(subareatabcontent).hide();
                setNiceScroll(".searchtabcontent")
            })
        }


        // tree 
        (function(win) {
            var data = [{
                    text: "动物园分区",
                    tags: ['2'],
                    nodes: [{
                            text: "亚洲分区",
                            tags: ['3'],
                            nodes: [{
                                    text: "中国区",
                                    tags: ['1']
                                },
                                {
                                    text: "印度区",
                                    tags: ['1']
                                },
                                {
                                    text: "泰国区",
                                    tags: ['1']

                                }
                            ]
                        },
                        {
                            text: "欧洲分区",
                            tags: ['1']

                        }
                    ]
                },
                {
                    text: "动物园分区 2",
                    nodes: [{
                        text: "亚洲分区2",
                        nodes: [{
                                text: '中国区2'
                            },
                            {
                                text: '印度区2'
                            }
                        ]
                    }]
                }
            ];

            var tree = function() {
                $('#tree').treeview({　
                    data: data,
                    expandIcon: "glyphicon glyphicon-triangle-right",
                    collapseIcon: "glyphicon glyphicon-triangle-bottom",
                    backColor: '#fff',
                    color: '#626262',
                    onhoverColor: '#00bc66;',
                    selectedBackColor: '#00bc66',
                    selectedColor: "#fff",
                    showBorder: false,
                    showTags: true,
                });
            }

            var init = function() {
                tree();
            }

            init();
        })(window)

        //搜索

        $(".search-icon").on("click", function() {
            if ($(".search-content").find('input').val().length == 0) {
                $(".search-content").css('display', 'block')
            } else if ($(".search-content").find('input').val().length !== 0) {
                $(".search-top").css('background-color', '#00bc66')
                $(".search-result").css("display", 'block')
                setNiceScroll(".searchtabcontent")

            }

        })
        $(".search-content").find('input').on("keypress", function() {
            if (event.keyCode == "13") {
                $(".search-top").css('background-color', '#00bc66')
                $(".search-result").css("display", 'block')
                setNiceScroll(".searchtabcontent")
            }
        })
        //清控输入框
        $(".search-content").find('input').on("keyup", function() {
            $(".search-content").find("i").css("display", 'block')
        })
        $(".search-content").find('i').on("click", function() {
            $(".search-content").find('input').val('')
            $(this).css("display", 'none')
        })


    })
    </script>
    <script>
    $(document).ready(
        function() {
            setNiceScroll(".searchtabcontent")
            setNiceScroll("#tree")
            setNiceScroll(".treetabcontent")
            setNiceScroll(".nbtreetabcontent")

        }
    );
    </script>
</body>

</html>
