<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>供水管网漏损评估及分析系统</title>
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<style>
</style>

<body>
    <div class="container-fluid">
        <!-- header -->
        <div class="header col-md-12">
            <h2>供水管网漏损评估及分析系统</h2>
        </div>
        <!-- main -->
        <div class="main col-md-12">
            <!-- sidebar -->
            <div class="sidebar-container">
                <div class="open">
                    <i class="fa fa-angle-right"></i>
                </div>
                <div class="sidebar">
                    <ul>
                        <li><a href="#">
                    <i class="fa fa-bar-chart"></i>
                    <div class="sidebar-name">
                      分区设备
                  </div>
                  </a>
                        </li>
                        <li><a href="#">
                    <i class="fa fa-shield"></i>
                     <div class="sidebar-name">
                    评估分析
                  </div>
                  </a></li>
                        <li><a href="#">
                    <i class="fa fa-bell-o"></i>
                     <div class="sidebar-name">
                    历史报警
                  </div>
                  </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- map -->
            <div class="map-container" id="map"></div>
            <!-- 报警框 -->
            <div class="alarm-box">
                <div class="alert alert-warning alert-dismissible " role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>动物园分区警报</p>
                    <p>2017.8.22 10:48</p>
                </div>
                <div class="alert alert-warning alert-dismissible " role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>动物园分区警报</p>
                    <p>2017.8.22 10:48</p>
                </div>
                <div class="alert alert-warning alert-dismissible " role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>动物园分区警报</p>
                    <p>2017.8.22 10:48</p>
                </div>
            </div>
            <!-- 面包屑路径导航 -->
            <div class="crumbs">
                <ol class="breadcrumb">
                    <li>亚洲分区</li>
                      <li>中国分区</li>
                    <li>北京分区</li>
                    <li class="active">动物园分区</li>
                </ol>
            </div>
        </div>
    </div>
    <script src="../lib/ZhiShuiMap/webapps/ZhiShuiMap/MapAPI/RMap/rmap.js"></script>
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap/bootstrap.min.js"></script>
    <script>
    $(function() {
        resizeWindow();
        $(window).resize(function() {
            resizeWindow();
        });

        function resizeWindow() {
            var winH = $(window).height() - 60;
            $(".sidebar").css('height', winH + 'px');
            $(".map-container").css('height', winH + 'px'); //这里的div，选择你的那个div
            $(".main").css('height', winH + 'px'); //这里的div，选择你的那个div
        }

        //初始化地图，默认地图为在线高德地图
        var rmap = new RMap.Map('map');
        //以116.390985, 39.906358（天安门广场）为中心点坐标，地图缩放到12级
        rmap.centerZoom(116.390985, 39.906358, 12);
    })
    </script>
</body>

</html>
