body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1020px;
  height:764px;
}
#u22000_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:764px;
  overflow:hidden;
}
#u22001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:38px;
  height:65px;
}
#u22001 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:688px;
  width:28px;
  height:55px;
}
#u22002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22003_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:37px;
  height:34px;
}
#u22003 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:659px;
  width:27px;
  height:24px;
}
#u22004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22005_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:38px;
  height:34px;
}
#u22005 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:632px;
  width:28px;
  height:24px;
}
#u22006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22007 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:659px;
  width:28px;
  height:24px;
}
#u22007_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22007.mouseOver {
}
#u22008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22009 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:632px;
  width:28px;
  height:24px;
}
#u22009_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22009.mouseOver {
}
#u22010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22012 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:526px;
  width:275px;
  height:243px;
}
#u22013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22014 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:526px;
  width:275px;
  height:243px;
  overflow:hidden;
}
#u22014_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:243px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u22014_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u22015 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:10px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22017 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:73px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u22018 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u22017_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22019 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:102px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u22020 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u22019_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22021 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:131px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u22022 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u22021_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22023 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:160px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u22024 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u22023_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22025 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:44px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u22026 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u22025_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u22027 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:189px;
  width:1px;
  height:16px;
}
#u22028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u22029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u22029 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:5px;
  width:38px;
  height:39px;
  font-size:28px;
}
#u22030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u22031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:769px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:769px;
}
#u22033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:275px;
  height:711px;
  overflow:hidden;
}
#u22034_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:711px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u22034_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u22035 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:51px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22035_img.mouseOver {
}
#u22035.mouseOver {
}
#u22036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u22037 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:82px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22037_img.mouseOver {
}
#u22037.mouseOver {
}
#u22038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u22039 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:20px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22039_img.mouseOver {
}
#u22039.mouseOver {
}
#u22040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u22041 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:113px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22041_img.mouseOver {
}
#u22041.mouseOver {
}
#u22042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22044 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:259px;
  height:44px;
}
#u22045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22046 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:26px;
  width:27px;
  height:22px;
}
#u22047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  word-wrap:break-word;
}
#u22048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:72px;
}
#u22048 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:1px;
  width:182px;
  height:72px;
}
#u22049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:275px;
  height:370px;
}
#u22050_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:370px;
  overflow:hidden;
}
#u22051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u22051 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:205px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u22051_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u22051.mouseOver {
}
#u22052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
