body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1020px;
  height:764px;
}
#u10791_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:764px;
  overflow:hidden;
}
#u10792 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:0px;
  width:749px;
  height:769px;
  overflow:hidden;
}
#u10792_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:769px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u10792_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:769px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:769px;
}
#u10794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10795 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:16px;
  width:38px;
  height:39px;
  font-size:28px;
}
#u10796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u10797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:426px;
}
#u10797 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:156px;
  width:594px;
  height:426px;
}
#u10798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:205px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:769px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:769px;
}
#u10801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:275px;
  height:711px;
  overflow:hidden;
}
#u10802_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:711px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u10802_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10803 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:9px;
  width:38px;
  height:39px;
  font-size:28px;
}
#u10804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u10805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u10805 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:660px;
  width:1px;
  height:16px;
}
#u10806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u10807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:492px;
}
#u10807 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:58px;
  width:268px;
  height:492px;
}
#u10808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:238px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10809 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:24px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u10811 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:128px;
  width:749px;
  height:440px;
  overflow:hidden;
  visibility:hidden;
}
#u10811_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:440px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10811_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:395px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10812 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:17px;
  width:604px;
  height:395px;
}
#u10813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10814 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:32px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10816 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:21px;
  width:38px;
  height:39px;
  font-size:28px;
}
#u10816_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10816.mouseOver {
}
#u10817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u10818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10818 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:182px;
  width:29px;
  height:16px;
}
#u10819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10820 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:76px;
  width:174px;
  height:23px;
}
#u10820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10821 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:124px;
  width:43px;
  height:16px;
}
#u10822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10823 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:120px;
  width:174px;
  height:23px;
}
#u10823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10824 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:200px;
  width:43px;
  height:16px;
}
#u10825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10826 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:232px;
  width:557px;
  height:126px;
}
#u10826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:126px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:124px;
}
#u10827 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:72px;
  width:139px;
  height:124px;
}
#u10828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10829 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:81px;
  width:43px;
  height:16px;
}
#u10830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10831 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:373px;
  width:105px;
  height:31px;
}
#u10831_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10831.mouseOver {
}
#u10832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u10833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10833 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:373px;
  width:105px;
  height:31px;
}
#u10833_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10833.mouseOver {
}
#u10834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u10835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10836 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:259px;
  height:44px;
}
#u10837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10838 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:205px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10838_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10838.mouseOver {
}
#u10839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u10840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:28px;
  height:87px;
}
#u10841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  word-wrap:break-word;
}
#u10842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:1024px;
  height:249px;
}
#u10842_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:249px;
  overflow:hidden;
}
