body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1020px;
  height:764px;
}
#u23999_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:764px;
  overflow:hidden;
}
#u24000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:769px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:769px;
}
#u24002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:275px;
  height:711px;
  overflow:hidden;
}
#u24003_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:711px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u24003_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u24004 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:11px;
  width:246px;
  height:120px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u24005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u24006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u24006 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24008 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:168px;
  width:53px;
  height:16px;
}
#u24009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u24010 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:194px;
  width:66px;
  height:16px;
}
#u24011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u24012 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:220px;
  width:79px;
  height:16px;
}
#u24013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u24014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u24014 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:258px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u24016 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:289px;
  width:79px;
  height:16px;
}
#u24017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u24018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24018 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:315px;
  width:53px;
  height:16px;
}
#u24019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u24020 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:350px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24022 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:381px;
  width:53px;
  height:16px;
}
#u24023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24024 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:407px;
  width:53px;
  height:16px;
}
#u24025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u24026 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:433px;
  width:79px;
  height:16px;
}
#u24027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u24028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u24028 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:469px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24030 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:500px;
  width:53px;
  height:16px;
}
#u24031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24032 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:526px;
  width:53px;
  height:16px;
}
#u24033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u24034 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:554px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24036 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:591px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u24037 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u24036_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24038 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:620px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u24039 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u24038_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24040 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:649px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u24041 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u24040_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24042 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:678px;
  width:203px;
  height:19px;
  font-size:16px;
}
#u24043 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u24042_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24044 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:259px;
  height:44px;
}
#u24045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24046 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:259px;
  height:44px;
}
#u24047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24048 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:26px;
  width:27px;
  height:22px;
}
#u24049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  word-wrap:break-word;
}
#u24050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u24050 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:205px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u24050_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u24050.mouseOver {
}
#u24051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u24052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:275px;
  height:370px;
}
#u24052_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:370px;
  overflow:hidden;
}
