
/* content */

.zs_content {
  width: 100%;
  background-color: #fff;
  padding: 50px;
}

#tabchange li {
  float: left;
  padding: 10px 20px;
  border-bottom: 4px solid #e3e3e3;
  font-size: 30px;
  color: #666;
}

#tabchange li a {
  color: #666;
}

#tabchange .now {
  border-bottom-color: #2ebc53;
}

#tabchange .now a {
  color: #2ebc53;
}
.tabcontent {
  width: 100%;
  height: 100%;
}
.tabcontent .zs_dclist {
  display:block;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 6px;
}
.tabcontent .zs_dclist .top img {
  width: 100%;
}
.tabcontent .zs_dclist .bottom {
  padding:20px 0px 20px 20px;
}
.tabcontent .zs_dclist .bottom h4 {
    margin:10px 0;
    font-size:16px;

}
.tabcontent .zs_dclist .bottom p {
  margin-top:5px;
  font-size:12px;
}
.tabcontent .zs_dclist:hover .bottom {
  background-color: #2ebc53;
  border-radius: 0 0 6px 6px;
}

.zs_treescroll .list li a {
  display:block;
  width: 100%;
  height: 50px;
  line-height:50px;
  padding-left:20px;
}
.zs_treescroll .list li:hover a {
  background-color: #2ebc53;
}
.nowact {
  background-color: #2ebc53;
}
.tree {
  border-right: 1px solid #ccc;
}
